USE [BD_TEST]
GO
/****** Object:  Table [dbo].[tblRESPONSABLES_RAYONS]    Script Date: 11/29/2019 5:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRESPONSABLES_RAYONS](
	[ID_PERSONNE] [int] NOT NULL,
	[RAYON_ARTICLE] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
