USE [BD_TEST]
GO
/****** Object:  Table [dbo].[tblARTICLES]    Script Date: 11/29/2019 5:43:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblARTICLES](
	[ID_ARTICLE] [int] IDENTITY(1,1) NOT NULL,
	[RAYON_ARTICLE] [varchar](100) NOT NULL,
	[NOM] [varchar](100) NOT NULL,
	[PRIX] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ARTICLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
