USE [BD_TEST]
GO
/****** Object:  Table [dbo].[tblPANIER]    Script Date: 11/29/2019 5:43:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPANIER](
	[ID_PERSONNE] [int] NOT NULL,
	[ID_ARTICLE] [int] NOT NULL,
	[QUANTITE] [int] NOT NULL
) ON [PRIMARY]
GO
